---
Checks: >
  bugprone-*,
  clang-analyzer-*,
  performance-*,
  readability-*,
  -readability-identifier-length,
  -readability-magic-numbers,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  -bugprone-reserved-identifier,
  -clang-analyzer-valist.Uninitialized

WarningsAsErrors: '*'

HeaderFilterRegex: 'device/(src|include)/.*'

CheckOptions:
  - key: readability-function-cognitive-complexity.Threshold
    value: 25
...
